<div class="row">
  <div class="col-md-12">
    <h1 class="titulo-content">Bienvenido {{user.first_name}} <small> Gracias por confiar en nosotros.</small> </h1>
  </div>
  <hr>
</div>
<div class="row">
  <div class="col-md-12 alert alert-info" role='alert'>
    <h2 class="sub-titulo-content">Estas son algunas de las cosas que vas a poder hacer</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><b>Encontr&aacute; el servicio que necesitas</b></h3>
        <p>
          <i>Si necesitas saber cual es la Comisar&iacute;a, el Hospital o la Gomer&iacute;a m&aacute;s cercana a vos, podes:</i>
        </p>
        <p>
          <center><a href="{% url 'ver_contactos' %}" class="btn btn-primary btn-lg"> <i class="glyphicon glyphicon-map-marker"></i> Ver localizacion de servicios de emergencia </a></center>
        </p>

      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><b>Ayuda a otros </b><small>a encontrar lo que necesitan</small> </h3>
        <p>
          <i>Si conoces la ubicaci&oacute;n de una entidad o de algun servicio de utilidad para quienes viajan por la zona donde vivis, <b>podes:</b></i>
        </p>
        <p>
          <center><a href="#" class="btn btn-info btn-lg"> <span class="glyphicon glyphicon-share"></span> Compartir un contacto de emergencia &uacute;til </a></center>
        </p>
      </div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Ayudanos a mejorar</h3>
        <p>
          Si detectaste alg&uacute;n error en los datos publicados, o falta de informaci&oacute;n en alguno de los contactos cargados, podes:
        </p>
        <p>
          <center><a href="#" class="btn btn-danger btn-lg"> <span class="glyphicon glyphicon-edit"></span> Sugerir edici&oacute;n de un contacto de emergencia</a></center>
        </p>
      </div>
    </div>
  </div>
</div>
<!--div class="row">
  <div class="col-md-4">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail First" src="http://lorempixel.com/output/people-q-c-600-200-1.jpg" />
						<div class="caption">
							<h3>
								Thumbnail label
							</h3>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p>
								  <a href="#" class="btn btn-primary btn-lg"> <i class="glyphicon glyphicon-map-marker"></i> Ver localizacion de servicios de emergencia </a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail Second" src="http://lorempixel.com/output/city-q-c-600-200-1.jpg" />
						<div class="caption">
							<h3>
								Thumbnail label
							</h3>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p>

							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail Third" src="http://lorempixel.com/output/sports-q-c-600-200-1.jpg" />
						<div class="caption">
							<h3>
								Thumbnail label
							</h3>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p>

							</p>
						</div>
					</div>
				</div>
</div-->
