.caption-site{
  position:absolute;
  top: 7%;
  left: 4%;
}
#nav{
  position: fixed;
  top: 3%;
  left: 60%;
}

html {
  background: url("/static/img/background1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section-profile{
  position: relative;
  top: 70px;
  left: 5%;
  width: 90%;
  height: 90%;
  background-color: rgba(245, 245, 245, 0.7);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #000;
  padding-top: 2%;
}
.titulo-content{
  font-family: 'Pacifico';
  text-align: center;
  color:#000;
  text-shadow: 2px 2px #A1C4FD;
  font-size:40px;
}
.sub-titulo-content{
  font-family: 'Pacifico';
  text-align: left;
  color:#000;
  text-shadow: 2px 2px #A1C4FD;
  font-size:25px;
}
#id_avatar{
  display: none;
}
.boton-agregar-imagen{
  position: relative;
  top: -40px;
  width: 144px;
  text-align: center;
  background-color: rgba(204, 204, 204, 0.7);
}
.profile-picture{
  border-radius: 70px;
}
